<div>
  <h2>employees</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Department</th>
        <th>Salary</th>
        <th>Phone Number</th>
      </tr>
    </thead>
    <tbody>
      {{#each employees}}
        <tr>
          <td>
            {{this.EMPLOYENAME}}
          </td>
          <td> {{this.Age}}</td>
          <td> {{this.DEPARTMENTNAME}}</td>
          <td> {{this.Salary}}</td>
          <td> {{this.PHONENUMBER}}</td>
          <td><a
              href="/editemployee?employeename={{this.EMPLOYENAME}}&age={{this.Age}}&departmentname={{this.DEPARTMENTNAME}}&salary={{this.Salary}} &phonenumber={{this.PHONENUMBER}}"
            ><i class="bi bi-pencil"></i></a></td>
          <td><i
              class="bi bi-trash-fill"
              onclick="deleteemployee({{this.id}})"
            ></i></td>
        </tr>
      {{/each}}
    </tbody>
  </table>
  <a href="/AddEmployee"><button class="btn btn-primary">Add</button></a>
</div>